<body class="vertical light">
  <div class="wrapper">
    {{>adminSidebar}}
    <main role="main" class="main-content">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12">
            {{>adminHeader}}
            <a href="/admin/add-coupon"><button type="button" class="btn mb-2 btn-primary">Add Coupon</button></a>
            <table class="table table-borderless table-striped">
              <thead>
                <tr role="row">
                  <th>Coupon Code</th>
                  <th>Coupon Description</th>
                  <th>Discount</th>
                  <th>Max Discount</th>
                  <th>Min Amount</th>
                  <th>Creation Date</th>
                  <th>Expiration Date</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {{#each coupons}}
                <tr>
                  <th>{{this.couponCode}}</th>
                  <th>{{this.couponDescription}}</th>
                  <th>{{this.discount}}</th>
                  <th>{{this.maxDiscount}}</th>
                  <th>{{this.minAmount}}</th>
                  <th>{{formatDate this.creationDate}}</th>
                  <th>{{formatDate this.expirationDate}}</th>
                  <td>
                    <a href="/admin/admineditcoupon?couponId={{this._id}}"><button type="button"
                        class="btn mb-2 btn-primary">Edit</button></a>
                    {{#if this.isDeleted}}
                    <a href='/admin/adminrecovercoupon?couponId={{this._id}}'><button type="button"
                        class="btn mb-2 btn-success">Recover</button></a>
                    {{else}}
                    <a href='/admin/admindeletecoupon?couponId={{this._id}}'><button type="button"
                        class="btn mb-2 btn-danger">Delete</button></a>
                    {{/if}}
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <div>
            <div class="col-lg-12">
              <div class="pagination" style="display: flex; justify-content: center;">
                <ul style="list-style: none; padding: 0; margin: 0; display: flex; align-items: center;">
                  {{#if (gt currentPage 1)}}
                  <li style="margin-right: 10px;"><a href="/admin/admin-coupons?page={{sub currentPage 1}}"><button
                        class="btn mb-2 btn-primary">Previous</button></a></li>
                  {{/if}}

                  {{#each pages}}
                  {{#if (eq this ../currentPage)}}
                  <li style="margin-right: 10px;" class="active"><a href="#"><button type="button"
                        class="btn mb-2 btn-secondary" style="background-color: rgb(62, 64, 64);">{{this}}</button></a></li>
                  {{else}}
                  <li style="margin-right: 10px;"><a href="/admin/admin-coupons?page={{this}}"><button type="button"
                        class="btn mb-2 btn-secondary">{{this}}</button></a></li>
                  {{/if}}
                  {{/each}}

                  {{#if (lt currentPage totalPages)}}
                  <li style="margin-right: 10px;"><a href="/admin/admin-coupons?page={{add currentPage 1}}"><button
                        class="btn mb-2 btn-primary">Next</button></a></li>
                  {{/if}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>