<!DOCTYPE HTML>
<html>

<head>
	
	<script src="
	https://cdn.jsdelivr.net/npm/sweetalert2@11.7.20/dist/sweetalert2.all.min.js
	"></script>
	<link href="
	https://cdn.jsdelivr.net/npm/sweetalert2@11.7.20/dist/sweetalert2.min.css
	" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/toastify.css">	 
</head>

<body>
	<div class="colorlib-loader"></div>
	<div id="page">
		{{>userHeader}}
		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/">Home</a></span> / <span>Shopping Cart</span></p>
					</div>
				</div>
			</div>
		</div>
		<div class="colorlib-product">
			<div class="container">
				<div class="row row-pb-lg">
					<div class="col-md-10 offset-md-1">
						<div class="process-wrap">
							<div class="process text-center active">
								<p><span>01</span></p>
								<h3>Shopping Cart</h3>
							</div>
							<div class="process text-center">
								<p><span>02</span></p>
								<h3>Checkout</h3>
							</div>
							<div class="process text-center">
								<p><span>03</span></p>
								<h3>Order Complete</h3>
							</div>
						</div>
					</div>
				</div>
				<table class="row row-pb-lg">
					<div class="col-md-12">
						<div class="product-name d-flex">
							<div class="one-forth text-left px-4">
								<span>Product Details</span>
							</div>
							<div class="one-eight text-center">
								<span>Price</span>
							</div>
							<div class="one-eight text-center">
								<span>Quantity</span>
							</div>
							<div class="one-eight text-center">
								<span>Total</span>
							</div>
							<div class="one-eight text-center px-4">
								<span>Edit</span>
							</div>
						</div>
						{{#each products}}
						<div class="product-cart d-flex">
							<div class="one-forth">
								<div class="product-img"
									style="background-image: url(/product-images/{{product._id}}0.jpg);">
								</div>
								<div class="display-tc">
									<h3>{{this.product.name}}</h3>
								</div>
							</div>
							<div class="one-eight text-center">
								<div class="display-tc">
									<span class="price">{{formatPrice this.product.price}}</span>
								</div>
							</div>
							<div class="one-eight text-center">
								<div class="display-tc">
									<span class="price" id="{{this.product._id}}quantity">{{this.quantity}}</span>
								</div>
							</div>
							<div class="one-eight text-center">
								<div class="display-tc">
									<span id="{{this.product._id}}prototal" class="price"></span>
								</div>
							</div>
							<div class="one-eight text-center">
								<div class="display-tc">
									<div>
										<span class="input-group-btn">
											<button
												onclick="changeQuantity('-{{this.product.price}}','{{this.product.price}}','{{this._id}}','{{this.product._id}}',-1)"
												type="button" class="quantity-left-minus btn" data-type="minus"
												data-field=""><i class="icon-minus2"></i></button>
										</span>
										<span class="input-group-btn ml-1">
											<button
												onclick="changeQuantity('{{this.product.price}}','{{this.product.price}}','{{this._id}}','{{this.product._id}}',1)"
												type="button" class="quantity-right-plus btn" data-type="plus"
												data-field=""><i class="icon-plus2"></i></button>
										</span>
									</div>
									<div>
										<p id="{{this.product._id}}stockLeft"></p>
									</div>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
				</table>
				<div class="row row-pb-lg">
					<div class="col-md-12">
						<div class="total-wrap">
							<div class="row">
								<div class="col-sm-8">
									<div class="row form-group" style="display: grid;">
										<div class="col-sm-9">
											<input type="text" id="couponCodeInput" name="quantity" class="form-control input-number"
												placeholder="Your Coupon Number...">
										</div>
										<div style="display: flex;">
											<div class="col-sm-3">
												<button value="Apply Coupons" onclick="applyCancelCoupon()" class="btn btn-primary" id="couponButton">Apply Coupon</button>
												{{!-- <input  value="Apply Coupon"  class="btn btn-primary"> --}}
											</div>
											<div class="col-sm-3">
												<a onclick="showCoupons()" style="color: #fff; margin-left: 2rem;" class="btn btn-primary">Show Available Coupon</a>
											</div>
										</div>
										<br>
										<div class="col-sm-3">
											<button onclick='proceedToCheckout()' class="btn btn-primary">Proceed to
												Checkout</button>
										</div>
									</div>
								</div>
								<div class="col-sm-4 text-center">
									<div class="total">
										<div class="sub">
											<p><span>Subtotal:</span> <span id="subtotal">{{formatPrice this.total}}</span></p>
											<p><span>Discount:</span> <span id="discount">₹0</span></p>
										</div>
										<div class="grand-total">
											<p><span><strong>Total:</strong></span><span
													id="grandtotal">{{formatPrice this.total}}</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<!-- Ajax -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<!-- toastify -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

	<script>
		if(!{{total}}){
		Swal.fire({
			title: 'No Products in Cart',
			confirmButtonText: 'OK',
			confirmButtonColor: '#88c8bc',
		});
		}
	</script>

	{{#each products}}
	<script>
		var proTotal = {{this.product.price}} * {{this.quantity}}
		document.getElementById('{{this.product._id}}prototal').innerHTML = "₹" + Number(proTotal).toLocaleString("en-IN", { maximumFractionDigits: 2 });
	</script>
	{{/each}}

	<script>
	function showCoupons() {
		fetch('/getCoupons') // Assuming this is the correct endpoint
		.then(response => response.json())
		.then(data => {
		let couponsHtml = '';
		data.coupons.forEach((coupon, index) => {
			couponsHtml += `<strong> ${index + 1}:</strong> ${coupon.couponCode}: ${coupon.couponDescription}<br>`;
		});
		Swal.fire({
			title: 'Available Coupons',
			html: couponsHtml,
			confirmButtonText: 'OK',
			confirmButtonColor: '#88c8bc',
			width: '70rem',
		});
		})
		.catch(error => {
		console.log('Error fetching coupons:', error);
		});
	}
	</script>
	<script>
		function changeQuantity(tPrice, price, cartId, proId, count) {
			const changeQElement = document.getElementById(proId + "quantity");
			const changeQ = changeQElement.innerHTML;
			count = parseInt(count)
			const quantity = parseInt(changeQ)
			document.getElementById(proId + "quantity").innerHTML = count + quantity
			$.ajax({
				url: '/changeProductQuantity',
				data: {
					cart: cartId,
					product: proId,
					count: count,
					quantity: changeQ
				},
				method: 'post',
				success: (response) => {
					if (response.removeProduct) {
						Swal.fire({
							title: 'Product Removed From Cart',
							timer: 1000
						})
						setTimeout(() => {
							location.reload();
						}, 1000);
					}
					else {
						let QElement = document.getElementById(proId + "quantity");
						let qchange = QElement.innerHTML;
						document.getElementById(proId + 'prototal').innerHTML = "₹" + Number(price * qchange).toLocaleString("en-IN", { maximumFractionDigits: 2 })

						let currentTotalSpan = document.getElementById('subtotal');
						const subtotalValue = currentTotalSpan.innerHTML;
						const currentprice = parseFloat(subtotalValue.replace(/[^\d.]/g, ''));
						const currentTotal = parseFloat(currentprice);
						changePrice = parseInt(tPrice)
						const newSubtotalValue = currentTotal + changePrice
						document.getElementById('subtotal').innerHTML = "₹" + Number(newSubtotalValue).toLocaleString("en-IN", { maximumFractionDigits: 2 });
						const couponCodeInput = document.getElementById('couponCodeInput');
						const couponCode = couponCodeInput.value;
						const couponButton = document.getElementById('couponButton');
						if (couponButton.innerHTML == 'Cancel Coupon' && couponCode) {
							fetch('/getCoupons') // Assuming this is the correct endpoint
							.then(response => response.json())
							.then(data => {
								data.coupons.forEach((coupon) => {
									if (coupon.couponCode == couponCode && newSubtotalValue < coupon.minAmount) {
										Toastify({
											text: "Coupon Removed(Didn't Match Coupon Criteria)",
											duration: 3000,
											newWindow: true,
											close: true,
											gravity: "bottom", // `top` or `bottom`
											position: "center", // `left`, `center` or `right`
											stopOnFocus: true, // Prevents dismissing of toast on hover
											style: {
												background: "#cc0000",
											},
										}).showToast();
										document.getElementById('discount').innerHTML = "₹0";
										document.getElementById('grandtotal').innerHTML = "₹" + Number(newSubtotalValue).toLocaleString("en-IN", { maximumFractionDigits: 2 });
										couponButton.innerHTML = 'Apply Coupon'
									} else if (coupon.couponCode == couponCode && newSubtotalValue >= coupon.minAmount){
										const discountSpan = document.getElementById('discount');
										let discount = discountSpan.innerHTML;
										discount = discount.replace(/[^0-9.]/g, '')
										document.getElementById('grandtotal').innerHTML = "₹" + Number(newSubtotalValue-discount).toLocaleString("en-IN", { maximumFractionDigits: 2 });
									}
								});
							})
							.catch(error => {
								console.log('Error fetching coupon data:', error);
							});
						}else {
							document.getElementById('grandtotal').innerHTML = "₹" + Number(newSubtotalValue).toLocaleString("en-IN", { maximumFractionDigits: 2 });
						}
					}
				}
			});
		}
	</script>
	<script>
		function applyCancelCoupon() {
			const couponCodeInput = document.getElementById('couponCodeInput');
			const couponCode = couponCodeInput.value;
			const couponButton = document.getElementById('couponButton');
			if (couponButton.innerHTML == 'Apply Coupon' && couponCode) {
				$.ajax({
					url: '/applyCoupon',
					data: {
						couponCode: couponCode
					},
					method: 'post',
					success: (response) => {
						if (response.noMinAmount) {
							Toastify({
								text: "Add products worth minimum amount of the coupon",
								duration: 3000,
								newWindow: true,
								close: true,
								gravity: "bottom", // `top` or `bottom`
								position: "center", // `left`, `center` or `right`
								stopOnFocus: true, // Prevents dismissing of toast on hover
								style: {
									background: "#88c8bc",
								},
							}).showToast();
						}
						else {
							couponButton.innerHTML = 'Cancel Coupon';
							document.getElementById('discount').innerHTML = "₹" + Number(response.obj.discount).toLocaleString("en-IN", { maximumFractionDigits: 2 });
							document.getElementById('grandtotal').innerHTML = "₹" + Number(response.obj.grandTotal).toLocaleString("en-IN", { maximumFractionDigits: 2 });
							Toastify({
								text: "Coupon Applied successfully",
								duration: 3000,
								newWindow: true,
								close: true,
								gravity: "bottom", // `top` or `bottom`
								position: "center", // `left`, `center` or `right`
								stopOnFocus: true, // Prevents dismissing of toast on hover
								style: {
									background: "#88c8bc",
								},
							}).showToast();
						}
					}
				});
			} else if(couponButton.innerHTML == 'Cancel Coupon') {
				couponButton.innerHTML = 'Apply Coupon';
				document.getElementById('discount').innerHTML = "₹0";
				let currentTotalSpan = document.getElementById('subtotal');
				currentTotalSpan = currentTotalSpan.innerHTML;
				currentTotalSpan = parseInt(currentTotalSpan.replace(/[^\d.]/g, ''));
				document.getElementById('grandtotal').innerHTML = "₹" + Number(currentTotalSpan).toLocaleString("en-IN", { maximumFractionDigits: 2 });
				Toastify({
					text: "Coupon Cancelled successfully",
					duration: 3000,
					newWindow: true,
					close: true,
					gravity: "bottom", // `top` or `bottom`
					position: "center", // `left`, `center` or `right`
					stopOnFocus: true, // Prevents dismissing of toast on hover
					style: {
						background: "#cc0000",
					},
				}).showToast();
			}
		}
	</script>
	<script>
		function proceedToCheckout() {
			const discountSpan = document.getElementById('discount');
			let discount = discountSpan.innerHTML;
			discount = discount.replace(/[^0-9.]/g, '')
			const SubtotalSpan = document.getElementById('subtotal');
			let subtotal = SubtotalSpan.innerHTML;
			subtotal = subtotal.replace(/[^0-9.]/g, '')
			if (subtotal === '0') {
				Toastify({
					text: "Add and item to checkout",
					duration: 3000,
					newWindow: true,
					close: true,
					gravity: "bottom", // `top` or `bottom`
					position: "center", // `left`, `center` or `right`
					stopOnFocus: true, // Prevents dismissing of toast on hover
					style: {
						background: "#88c8bc",
					},
				}).showToast();
			} else {
				window.location.href = `/proceedToCheckout?discount=${discount}`
			}
		}
	</script>

</body>

</html>