<html>

<head>
  <link rel="stylesheet" type="text/css" href="/css/toastify.css">
</head>

<body>
  <div class="colorlib-loader"></div>
  <div id="page">
    {{>userHeader}}
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="bread"><span><a href="/">Home</a></span>
              /
              <span>Checkout</span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="colorlib-product">
      <div class="container">
        <div class="row row-pb-lg">
          <div class="col-sm-10 offset-md-1">
            <div class="process-wrap">
              <div class="process text-center active">
                <p><span>01</span></p>
                <h3>Shopping Cart</h3>
              </div>
              <div class="process text-center active">
                <p><span>02</span></p>
                <h3>Checkout</h3>
              </div>
              <div class="process text-center">
                <p><span>03</span></p>
                <h3>Order Complete</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          {{#if addresses.length}}
          <div class="col-lg-12">
            <div class="colorlib-form">
              <h2>Select Billing Detail</h2>
              <ul class="">
                {{#each addresses}}
                <div class="radio">
                  <label><input type="radio" name="addressId" value="{{this._id}}" {{setChecked @index}} />
                    {{this.name}},{{this.address}},{{this.number}}</label>
                </div>
                {{/each}}
              </ul>
              <a href="/profile"><span><button class="btn btn-primary" type="button">Edit Saved
                    Addresses</button></span></a>
            </div>
          </div>
          {{/if}}
          <div class="col-lg-8">
            <form action="/add-address" method="POST" enctype="multipart/form-data" class="colorlib-form">
              <h2>Add New Billing Details</h2>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="country">Select Country</label>
                    <div class="form-field">
                      <select name="country" id="people" class="form-control">
                        <option value="India">India</option>
                        <option value="China">China</option>
                        <option value="Pakistan">Pakistan</option>
                        <option value="Bhutan">Bhutan</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="fname">Name</label>
                    <input type="text" name="billingAddressName" id="fname" class="form-control"
                      placeholder="Your Name" />
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="fname">Address</label>
                    <input type="text" name="address" id="address" class="form-control"
                      placeholder="Enter Your Address" />
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="companyname">Town/City</label>
                    <input type="text" name="townCity" id="towncity" class="form-control" placeholder="Town or City" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="lname">Zip/Postal Code</label>
                    <input type="text" name="zipPostalCode" id="zippostalcode" class="form-control"
                      placeholder="Zip / Postal" />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="email">E-mail Address</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="abc@xyz.com" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="Phone">Phone Number</label>
                    <input type="text" name="number" id="zippostalcode" class="form-control"
                      placeholder="+91 81118 00085" />
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <div class="radio">
                      <div class="col-md-12 text-center">
                        <p><button type="submit" href="#" class="btn btn-primary">Add this address</button></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-lg-4">
            <div class="row">
              <div class="col-md-12">
                <div class="cart-detail">
                  <h2>Cart Total</h2>
                  <ul>
                    <li>
                      <span>Subtotal</span>
                      <span id="subtotal"></span>
                      <ul>
                        {{#each products}}
                        <li><span>{{this.quantity}}
                            x
                            {{this.product.name}}</span>
                          <span id="{{this.product._id}}prototal"></span>
                        </li>
                        {{/each}}
                      </ul>
                    </li>
                    <li><span>Discount</span> <span>{{formatPrice discount}}</span></li>
                    <li><span>Order Total</span>
                      <p id="totalValue">{{formatPrice this.total}}</p>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="w-100"></div>

              <div class="col-md-12">
                <div class="cart-detail">
                  <h2>Payment Method</h2>
                  <div class="form-check" style="padding-bottom: 10%;">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" onclick="walletRadioClick(this)">
                    <label class="form-check-label" for="exampleCheck1">Use wallet</label>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                      <div class="radio">
                        <label><input type="radio" name="paymentMode" value="COD" id="COD" checked/>Cash On
                          Delivery (COD)</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                      <div class="radio">
                        <label><input type="radio" name="paymentMode" value="ONLINE" id="ONLINE" />Online
                          Payment</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <span><button onclick="addToOrders()" class="btn btn-primary" type="button">Place an
                    order</button></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{#each products}}
    <script>
      document.getElementById('{{this.product._id}}prototal').innerHTML = "₹" + Number({{this.product.price}} * {{this.quantity}}).toLocaleString("en-IN", { maximumFractionDigits: 2 });
    </script>
    {{/each}}

    <script>
      document.getElementById('subtotal').innerHTML = "₹" + Number({{total}} + {{discount}}).toLocaleString("en-IN", { maximumFractionDigits: 2 });
    </script>

    <!-- Ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- razorpay -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <!-- toastify -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script>
      function addToOrders() {
        if ({{addresses.length}}) {
          const selectedAddress = document.querySelector('input[name="addressId"]:checked').value;
          const paymentMode = document.querySelector('input[name="paymentMode"]:checked').value;
          $.ajax({
            url: '/addToOrders',
            data: {
              addressId: selectedAddress,
              paymentMode: paymentMode
            },
            method: 'post',
            success: (response) => {
              if (response.checkoutcomplete) {
                window.location.href = '/orderPlaced?orderId=' + response.orderId;
              }
              else {
                razorpayPayment(response.response,response.orderId)
              }
            }
          });
        } else {
          Toastify({
            text: "Add an address",
            duration: 3000,
            newWindow: true,
            close: true,
            gravity: "bottom", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
              background: "#88c8bc",
            },
          }).showToast();
        }
      }

      function razorpayPayment(order,orderId) {
        let options = {
          "key": "rzp_test_bzZUpodgXWeMku", // Enter the Key ID generated from the Dashboard
          "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
          "currency": "INR",
          "name": "PixelCart",
          "description": "Test Transaction",
          "image": "https://example.com/your_logo",
          "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
          "handler": function (response) {
            verifyPayment(response, order, orderId)
          },
          "prefill": {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9000090000"
          },
          "notes": {
            "address": "Razorpay Corporate Office"
          },
          "theme": {
            "color": "#3399cc"
          }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
      }

      function verifyPayment(payment, order, orderId) {
        $.ajax({
          url: '/verifyPayment',
          data: {
            payment,
            order
          },
          method: 'post',
          success: (response) => {
            console.log(orderId,'verifypayment')
            if (response.status) {
              window.location.href = '/orderPlaced?orderId=' + orderId;
            } else {
              alert("Payment failed")
            }
          }

        })
      }
    </script>

    <script>
      function walletRadioClick(radioButton) {
        let originalTotal = parseFloat("{{this.total}}");
        const totalElement = document.getElementById("totalValue");
        let Wallet = parseFloat("{{this.wallet.balance}}");

        if (radioButton.checked) {
          if (originalTotal < Wallet) {
            totalElement.textContent = 0;
          } else {
            totalElement.textContent = originalTotal - Wallet;
          }
        } else {
          totalElement.textContent = originalTotal; // Revert to the original total
        }
      }
    </script>

</body>

</html>