<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/toastify.css">
</head>
<body>
	<div class="colorlib-loader"></div>
	<div id="page">
		{{>userHeader}}
		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/">Home</a></span> / <span>Product Details</span></p>
					</div>
				</div>
			</div>
		</div>
		<div class="colorlib-product">
			<div class="container">
				<div class="row row-pb-lg product-detail-wrap">
					<div class="col-sm-8">
						<div class="owl-carousel">
							<div class="item">
								<div class="product-entry border">
									<a href="#" class="prod-img">
										<img src="/product-images/{{product._id}}0.jpg" class="img-fluid"
											alt="Free html5 bootstrap 4 template">
									</a>
								</div>
							</div>
							<div class="item">
								<div class="product-entry border">
									<a href="#" class="prod-img">
										<img src="/product-images/{{product._id}}1.jpg" class="img-fluid"
											alt="Free html5 bootstrap 4 template">
									</a>
								</div>
							</div>
							<div class="item">
								<div class="product-entry border">
									<a href="#" class="prod-img">
										<img src="/product-images/{{product._id}}2.jpg" class="img-fluid"
											alt="Free html5 bootstrap 4 template">
									</a>
								</div>
							</div>
							<div class="item">
								<div class="product-entry border">
									<a href="#" class="prod-img">
										<img src="/product-images/{{product._id}}3.jpg" class="img-fluid"
											alt="Free html5 bootstrap 4 template">
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="product-desc">
							<h3>Buy {{product.name}}</h3>
							<p class="price">
								<span>For {{formatPrice product.price}}</span>
							</p>
							<p>{{product.description}}</p>
							<p>{{product.stock}} item left</p>
							<div class="input-group mb-4">
								<span class="input-group-btn">
									<button type="button" class="quantity-left-minus btn" data-type="minus"
										data-field=""><i class="icon-minus2"></i></button>
								</span>
								<input type="text" id="quantity" name="quantity" class="form-control input-number"
									value="1" min="1" max="100">
								<span class="input-group-btn ml-1">
									<button type="button" class="quantity-right-plus btn" data-type="plus"
										data-field=""><i class="icon-plus2"></i></button>
								</span>
							</div>
							<div class="row">
								<div class="col-sm-12 text-center">
									<p class="addtocart">
										<a href="#" id="addToCartBtn" class="btn btn-primary btn-addtocart"><i
												class="icon-shopping-cart"></i> Add to Cart</a>
									</p>
									<p class="addtocart"><a href="/cart" class="btn btn-primary btn-addtocart"><i
												class="icon-shopping-cart"></i> View Cart </a></p>
								</div>
							</div>
						</div </div>
					</div>
				</div>
			</div>
		</div>

		<div class="gototop js-top">
			<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
		</div>
	</div>

	<!-- Ajax -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	    <!-- toastify -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

	<script>
		$(document).ready(function () {

			var quantitiy = 0;
			$('.quantity-right-plus').click(function (e) {
				e.preventDefault();
				var quantity = parseInt($('#quantity').val());
				$('#quantity').val(quantity + 1);
			});

			$('.quantity-left-minus').click(function (e) {
				e.preventDefault();
				var quantity = parseInt($('#quantity').val());
				if (quantity > 0) {
					$('#quantity').val(quantity - 1);
				}
			});

			$('#addToCartBtn').click(function (e) {
				e.preventDefault();
				var productId = "{{product._id}}";
				var quantity = parseInt($('#quantity').val());
				var addToCartUrl = "/addToCart?id=" + productId + "&quantity=" + quantity;
				Toastify({
					text: "product added to cart",
					duration: 1000,
					newWindow: true,
					close: true,
					gravity: "bottom", // `top` or `bottom`
					position: "center", // `left`, `center` or `right`
					stopOnFocus: true, // Prevents dismissing of toast on hover
					style: {
						background: "#88c8bc",
					},
				}).showToast();
				setTimeout(function () {
					window.location.href = addToCartUrl;
				}, 1000); 
			});
		});
	</script>
</body>

</html>